.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: rgb(68, 68, 39);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: green;
}

/* #box1 {
  display: flex;
  align-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
}
#box2 {
  height: 35%;
  transform: rotate(90deg);
  transform-origin: right top;
  margin: 5%;
  float: left;
  display: inline;
  width: 33%;
  border: 5px solid white;
}

#box3 {
  height: 35%;
  transform: rotate(90deg);
  transform-origin: right top;
  padding: 15%;
  float: left;
  display: inline;
  width: 33%;
  border: 5px solid white;
} */

/* .HorizontalScroller {
  display: inline;
  align-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
}

.boxes {
  display: flex;
  align-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  height: 300px;
}

 */

.boxes {
  display: flex;

  border: solid 5px white;
  margin: 5px;
  padding: 40px;
}
