.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#box1 {
  width: 35%;
  height: 35%;
  transform: rotate(90deg);
  transform-origin: right top;
  margin: 5%;
}
#box2 {
  width: 35%;
  height: 35%;
  transform: rotate(90deg);
  transform-origin: right top;
  margin: 5%;
}

#box3 {
  width: 35%;
  height: 35%;
  transform: rotate(90deg);
  transform-origin: right top;
  padding: 15%;
}

.HorizontalScroller {
  width: 500px;
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-270deg) translateY(-100px);
  transform-origin: right top;
  margin: 1200px;
  border: 15px solid white;
  margin-left: 15%;
  margin-right: 15%;
}
